@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&family=Tilt+Prism&display=swap");
* {
  font-family: sans-serif;
  padding: 0px; }

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif; }

/* main */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #B4E4FF; }

.header img {
  width: 150px; }

.header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 350px; }

.header a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px; }

.flex-padre h1 {
  text-align: center;
  text-decoration: underline; }

.flex-padre {
  background-color: #BEF0CB;
  font-family: 'Raleway', sans-serif;
  font-family: 'Tilt Prism', cursive; }

.flex-padre img {
  width: 150px;
  display: flex; }

.img1 {
  height: 300px;
  float: left;
  margin-right: 10px; }

.img2 {
  height: 300px;
  float: right;
  margin-right: 10px;
  padding-top: 400px; }

.p2 {
  padding: 400px;
  text-align: left;
  width: 500px;
  font-size: large; }

.img3 {
  height: 300px;
  float: left;
  margin-right: 10px;
  padding-top: 100px; }

.p3 {
  padding: 200px;
  text-align: left;
  width: 500px;
  font-size: large; }

.footer {
  background-color: #F6F7C1;
  height: 300px; }

.footer img {
  width: 120px; }

.footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-direction: column;
  background-color: #F6F7C1; }

.flex-css {
  background-color: #BEF0CB;
  border: 2px solid;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 700px;
  align-content: center; }

.flex-css div {
  background-color: #8cffab;
  border: 2px #3e6665 solid;
  padding: 15px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: space-around; }

.flex-css img {
  width: 125px; }

main h1 {
  text-align: center;
  text-decoration: underline;
  background-color: #BEF0CB;
  font-family: 'Tilt Prism', cursive; }

.flex-promo {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #BEF0CB; }

.flex-promo img {
  width: 120px; }

.footer-promo {
  display: flex;
  background-color: #F6F7C1;
  height: 400px;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse; }

.footer-promo img {
  height: 125px; }
