<<<<<<< HEAD
@media (min-width: 320px) {
=======
@media (min-width: 769px) {
>>>>>>> 0312082f91bdfbb59c715e4ace208cc39cc1be31
    .main article img {
        width: 600px;
    }

    .main article p {
        width: 600px;
    }
<<<<<<< HEAD
    .card {
        flex-direction: row;
    }
    .card-body {
        font-size: xx-small;
    }
    h5.card-title {
        font-size: small;
        text-align: center;
    }
=======
>>>>>>> 0312082f91bdfbb59c715e4ace208cc39cc1be31
}


@media (min-width: 1044px) {

    /*GRILLA*/
    .main-container {
        display: grid;
        grid-template-columns: 1fr .5fr;
        grid-template-areas:
            "main aside"
        ;
    }

    main {
        grid-area: main;
    }

<<<<<<< HEAD
=======
    aside {
        display: block;
        grid-area: aside;
    }
>>>>>>> 0312082f91bdfbb59c715e4ace208cc39cc1be31

}


/* main */

.flex-padre h1 {
    text-align: center;
    text-decoration: underline;
}

.flex-padre {
    background-color: #BEF0CB;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tilt Prism', cursive;

}

.flex-padre img {
    width: 150px;
    display: flex;
}

<<<<<<< HEAD
=======
.img1 {
    height: 200px;
    float: left;
    margin-right: 10px;
    padding-top: 100px;
}

.img2 {
    height: 200px;
    float: right;
    margin-right: 10px;
    padding-top: 100px;
}

.img3 {
    height: 200px;
    float: left;
    margin-right: 10px;
    padding-top: 100px;
}

p {
    margin-top: 50px;
    margin-bottom: 1rem;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    justify-content: end;
    align-content: space-around;
    padding: 100px;
}

.p2 {
    padding: 100px;
    margin-top: 50px;
    margin-bottom: 1rem;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    justify-content: end;
    align-content: space-around;
}

.p3 {
    padding: 100px;
    text-align: left;
    width: 500px;
    font-size: large;
}

.promo-img {
    width: 250px;
    margin: auto;
}
>>>>>>> 0312082f91bdfbb59c715e4ace208cc39cc1be31

.footer {
    background-color: #F6F7C1;
    height: 300px;
}

.footer img {
    width: 120px;
}

.footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-direction: column;
    background-color: #F6F7C1;
}

.flex-css {
    background-color: #BEF0CB;
    border: 2px solid;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 700px;
    align-content: center;
}

<<<<<<< HEAD

=======
>>>>>>> 0312082f91bdfbb59c715e4ace208cc39cc1be31
.flex-css div {
    background-color: #8cffab;
    border: 2px #3e6665 solid;
    padding: 15px;
<<<<<<< HEAD
    /* width: 150px; */
    /* height: 150px; */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
=======
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
>>>>>>> 0312082f91bdfbb59c715e4ace208cc39cc1be31
}

.flex-css img {
    width: 125px;
<<<<<<< HEAD
=======
    padding: 0px;
    align-items: center;
    justify-items: center;
>>>>>>> 0312082f91bdfbb59c715e4ace208cc39cc1be31
}

main h1 {
    text-align: center;
    text-decoration: underline;
    background-color: #BEF0CB;
    font-family: 'Tilt Prism', cursive;


}

.flex-promo {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #BEF0CB;


}

.flex-promo img {
    width: 120px;
}

<<<<<<< HEAD
.grilla p {
    display: flex;
}
=======
.intro {
   display: flex;
    padding: 0px 300px 60px 300px;
    font-size: medium;
    text-align: center;
}
>>>>>>> 0312082f91bdfbb59c715e4ace208cc39cc1be31
